<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li >
        <a (click)="menuClick2()">Início</a>
      </li>
      <li>
        <a (click)="menuClick()">Conta Corrente</a>
      </li>
      <li>
        <a (click)="menuClick3()">Transferências</a>
      </li>
      <li>
        <a>Pagamentos</a>
      </li>
      <li>
        <a>Investimentos</a>
      </li>
      <li>
        <a>Impréstimos</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cartões</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Cartão adicional</a>
          </li>
          <li>
            <a href="#">Cartão premium</a>
          </li>
          <li>
            <a href="#">Cartão free</a>
          </li>
          <li>
            <a href="#">Cartão ilimitado</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Outros</a>
      </li>
    </ul>
  </nav>
  <app-card-fatura *ngIf="activeMenu === menuEnum.HOME"></app-card-fatura>
  <app-card-cadastro *ngIf="activeMenu === menuEnum.CONTA_CORRENTE"></app-card-cadastro>
  <app-card-transferencias *ngIf="activeMenu === menuEnum.TRANSFERENCIAS"></app-card-transferencias>
</div>
