<div class="row" style="padding-left: 150px; padding-top: 50px;">
  <div class="card" style="width: 50rem;">
    <div class="card-body" style="padding: 0px;">
      <div class="titulo-card-fatura">
        <h5 class="card-title" style="padding: 10px;">Fatura por e-mail</h5>
      </div>
      <p class="card-text card-fatura">Receba sua fatura por e-mail sem se preocupar com os Correios e ainda ganhe R$10
        de crédito
        na
        sua fatura¹. A fatura será enviada para o e-mail cadastrado no dia seguinte ao fechamento, a senha para abertura
        do arquivo é o seu CPF completo. E você pode acessar a sua fatura diretamente pelo app.</p>
      <div class="button-card-fatura">
        <a href="#" class="btn btn-primary">Saiba mais</a>
      </div>
    </div>
  </div>
</div>
