<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <a class="navbar-brand" href="javascript:void(0)"><img src="assets/imagem_banco.PNG"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <input class="form-control menu-input" type="search" placeholder="Digite aqui sua busca...">
          <button class="btn btn-light menu-button-search"><i class="fas fa-search"></i></button>
        </li>
        <li class="nav-item menu-icons">
          <a class="nav-link" href="javascript:void(0)"><i class="far fa-bell"></i></a>
        </li>
        <li class="nav-item menu-icons">
          <a class="nav-link" href="javascript:void(0)"><i class="far fa-question-circle"></i></a>
        </li>
        <li class="nav-item menu-icons">
          <a class="nav-link" href="javascript:void(0)"><i class="far fa-user-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-menu-sidebar></app-menu-sidebar>
