*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(150, 16, 239);
    
}
html,body{
    height: 100%;
}

.logo {
padding-top: 10%;
padding-bottom: 1%;
text-align: center;
}

.cadastrar{
    text-align: right;
    
}

.card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 70vh;
    width: 70%;
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 15%;

 
    
    
}

.titulo {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    color: rgb(150, 16, 239);
}

input[type="text"],input[type="password"]{
    background-color: white;
    border-color: rgb(150, 16, 239);
    border-radius: 4px;
    height: 30px;
    width: 40%;    
    margin-right: 30%;
    margin-top: 3%;
}


label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    color: #9933FF;
}


.btnCadastrar input{
    background: -webkit-linear-gradient(right, #9933FF, #9933FF);
    border: none;
    border-radius: 18px;
    box-shadow: 0px 1px 8px #9933FF;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 5px;
    transition: 0.25s;
    width: 153px;
    float: right;
    position: relative;
    bottom: 20px;
    right: 20px;
}
.btnCadastrar input:hover{
    box-shadow: 0px 1px 18px #9933FF;
}
.btnVoltar input:hover{
    box-shadow: 0px 1px 18px #9933FF;
}


.btnVoltar input{
    background: white;
    border: none;
    border-radius: 18px;
    box-shadow: 0px 1px 8px #9933FF;
    cursor: pointer;
    color: rgb(150, 16, 239);
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 10px;
    transition: 0.25s;
    width: 153px;
    float: right;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.calendario input{
    background-image: url("calendario.png");
    background-repeat: no-repeat;
    background-position: right;
    
}

.right {
    float: right;
    width: 50%;
    height: 100vh;
}


.left {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("image1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}