*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(150, 16, 239);
    
}
html,body{
    height: 100%;
}

.logo {
padding-top: 10%;
padding-bottom: 1%;
text-align: center;
}

.cadastrar{
    text-align: right;
}

.card {
    border-radius: 5px;
    background-color: white;
    height: 650px;
    width: 70%;
    padding-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    
}

.titulo {
    text-align: center;
    color: rgb(150, 16, 239);
}

input[type="text"]{
    background-color: white;
    border-color: rgb(150, 16, 239);
    border-radius: 4px;
    height: 30px;
    width: 40%;    
    margin-right: 30%;
    margin-top: 5%;
}


label {
    color: rgb(150, 16, 239);
}


.btnCadastrar input{
    background: rgb(150, 16, 239);
    color: white;
    border-color: rgb(150, 16, 239);
    border-radius: 15px;
    height: 45px;
    width: 120px;
    float: right;
    font-weight: bold;
    margin: 15% 5% 0 0;
}

.btnVoltar input{
    background: white;
    color: rgb(150, 16, 239);
    border-color: rgb(150, 16, 239);
    border-radius: 15px;
    height: 45px;
    width: 120px;
    float: right;
    font-weight: bold;
    margin: 15% 5% 0 0;
   
}

.calendario input{
    background-image: url("calendario.png");
    background-repeat: no-repeat;
    background-position: right;
}

.right {
    float: right;
    width: 50%;
    height: 100%;
}


.left {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("image1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}